<h1>You're in the right place!</h1>
<p>This app will help you make money selling a bike that you don't use and find great deals in Berlin. </p>

<%= image_tag("banner.png", class: "img-responsive banner")%>
<div class="freepik"><a href="http://www.freepik.com/free-vector/several-city-banners-in-vintage-style_1048875.htm">Designed by Freepik</a></div>

<div class="button-back"><%= link_to 'Back', :back%></div>