<div class="panel panel-default">
  <div class="panel-body">
    <h1>Thank you. We have received your message and will respond as soon as possible.</h1>
  </div><!-- / panel-body -->
  <div class="button-back"><%= link_to 'Back', products_path %></div>
</div><!-- / panel -->