//if ($(".comment-just-written").html("Thank you for your review!")) {
//  $(".product-reviews").css({
//    "border-top": "none",
//    "margin-top": "0"});
//}

$(".comment-just-written").html('<div class="thank-you">Thank you for your review!</div>')
$(".comments").prepend("<%= j render @comment %>");
$("#average-rating").attr("data-score", "<%= @product.average_rating %>");
refreshRating();