// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.index-links{
  margin-bottom: 50px;
}

.button {
  display: inline-block;
}

.button-new {
  margin-top: 20px;
  margin-left: 15px;
}

.button-new a,
.button a,
.button-back a{
  color: #f8f8f9;
  background-color: #dc2c2c;
  font-size: 1em;
  padding: 2px 8px;
  border: 1px solid #dc2c2c;
  border-radius: 5%;
  text-transform: uppercase;

  &:visited {
    color: #f8f8f9;
    text-shadow: 1px 1px grey;
  }

  &:hover {
    text-decoration: none;
    border: 1px solid #dc2c2c;
    color: #dc2c2c;
    background-color: #f8f8f9;
  }
}

table {
  width: 90%;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.field_with_errors {
  //background-color: red;
  //display: table;
}

#error_explanation {
  max-width: 450px;
  border: 1px solid #f8f8f9;
  border-radius: 5px;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #dc2c2c;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: none;
  }
}

label {
  display: block;
}

.show-product {
  margin: 0 auto;
  display: block;
}

.product-details p{
  text-align: left;
}

.product-container p {
  text-align: left;
  padding: 0;
}

.field {
  padding-left: 100px;
}

.price {
  border-top: 1px solid #dc2c2c;
  font-family: Lobster;

  font-size: 1.3em;
}

.product-container .price {
  text-align: right;
  padding-top: 7px;
}

.product-container .button {
  margin: 0 auto;
}

.polaroid {
  width: 220px;
  height: 190px;
  padding: 10px 10px 40px 10px;
  background-color: white;
  margin: 0 auto;
}

.product-container img {
  max-width: 198px;
  max-height: 148px;
}

.bike-photo {
  width: 200px;
  height: 150px;
  background-color: white;
  border: 1px solid #e7e7e7;
}

.product-container {
  display: block;
  max-width: 250px;
  margin-bottom: 10px;
  height: 400px;
  padding: 10px;
  border: 1px solid #f8f8f9;
}

.product-container:hover {
  border: 1px solid #e7e7e7;
  border-radius: 1%;
}

.carousel-caption {
  color: black;
  font-size: 1.3em;
  //bottom: 20px;
  right: 150px;
  text-shadow: none;
  text-align: right;
  font-family: 'Poiret One';
}

.carousel-img {
  margin: 0 auto;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none;
}

.carousel-indicators {
  bottom: -40px;
}

.lowest_rating,
.highest_rating {
  padding: 10px 20px;
}

.lowest_rating h2,
.highest_rating h2 {
  text-align: center;
  font-size: 1.3em;
}

.division {
  border-top: 1px dashed #bdbcbc;
}

.rated:first-child {
  text-align: center;
}

.rated {
  text-align: center;
  padding-bottom: 15px;
}

.rating {
  text-align: center;
}

.product-name p{
  font-family: Lobster, cursive;
  font-size: 17px;
}

.aver-rating {
  margin-top: 10px;
}

.aver-rating div {
  display: inline-block;
}

.show-links {
  margin-top: 30px;
  margin-bottom: 30px;
}

.new-comment-field {
  width: 100%;
  height: 150px;
}

@media only screen and (max-width: 991px) {
  .new-comment-field {
    width: 80%;
  }
}

.pagination {
  float: right;
  color: #676767;
}

.pagination em {
  font-style: normal;
}

.pagination a {
  color: #676767;
}

.pagination a:hover {
  color: #dc2c2c;
}

.comment-body {
  margin: auto;
  width: 80%;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
  padding-bottom: 10px;
}

.comment-body hr {
  margin-top: 0;
}

//.comment-body p:last-child {
//  font-family: "Just Me Again Down Here", sans-serif;
//  font-size: 20px;
//}

.product-reviews {
  border-top: 1px dashed #bdbcbc;
  margin-top:20px;
}

.cross {
  float: right;
  padding: 10px 12px 0 0;
}