body {
  color: #f8ecbd;
  font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul, td {
  font-family: 'Roboto Condensed', arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 5px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.button {
  display: inline-block;
}

.button a{
  color: #f8ecbd;
  font-size: 1em;
  padding: 2px 8px;
  border: 1px solid #dc2c2c;
  border-radius: 5%;
  text-transform: uppercase;

  &:visited {
    color: #f8ecbd;
    text-shadow: 1px 1px grey;
  }

  &:hover {
    text-decoration: none;
    border: 1px solid #f8ecbd;
  }
}

table {
  width: 90%;
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

input,
textarea {
  -webkit-appearance: textfield;
  background-color: #f8ecbd;
  color: black;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
