// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,
body {
  height: 100%;
  padding-top: 40px;
  margin: 0;
}

body{
  background-color: #f8f8f9;
}

a {
  color: #dc2c2c;
}

a:hover {
  text-decoration: none;
  color: #676767;
}

.button-back {
  position: fixed;
  bottom: 70px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  body,
  .header {
    padding: 0;
  }

  .navbar-header {
    border-bottom: 1px dotted #bdbcbc;
  }
  .navbar-brand a,
  .menu .bike,
  .menu .menu-right{
    display: none;
  }
  .navbar-collapse {
    height:40px;
  }
}

.wrapper {
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  width: 95%;
  padding-bottom: 40px;
}

.container {
  width: 95%;
  padding: 0;
}

.header {
  padding-top: 20px;
}

//navigation bar
.navbar {
  min-height: 40px;
}

.navbar-inverse {
  background-color: #f8f8f9;
  border: none;
}

.nav {
  transition: height .8s;
}

.navbar-brand img{
  height: 65px;
  padding-top: 13px;
}

.logo {
  padding-top: 5px;
  width: 150px;
  float: left;
}

.navbar-brand {
  padding: 0;
}

.menu-center {
  background-color: transparent;
  width: 300px;
  border: none;
}

.menu-center ul {
  list-style-type: none;
  text-align: center;
  height: 50px;
  width: 320px;
  border-top: 1px dotted #bdbcbc;
  margin-top: 0;
  padding-top: 10px;
}

.menu-center li{
  display: inline-block;
  font-family: Lobster, 'Poiret One';
  font-size: 1.3em;
  padding-right: 50px;
  color: #dc2c2c;
  margin: 0 auto;
}

.menu-center li:last-of-type {
  padding-right: 0;
}

.menu-center a {
  color: #dc2c2c;
  padding: 9px 9px 11px 9px;
  transition: .3s;
}

.menu-center a:hover,
.log-in a:hover {
  text-decoration: none;
  color: #f8f8f9;
  background-color: #dc2c2c;
  border-radius: 5px;
}

.logo a,
.logo a:hover {
  border: none;
}

.bike {
  height: 20px;
  margin-top: 20px;
  padding-left: 200px;
  margin-bottom: -7px;
  transition: 1s;
}

.bike:hover {
  padding-left: 100px;
}

.main-menu {
  height: 50px;
}

.menu-right {
  margin-left: 20px;
  width: 190px;
}

.menu-right span {
  color: #EBEBEC;
  padding-left: 7px;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #bdbcbc;
  height: 80px;
}

.menu div {
  display: inline-block;
}

.top {
  padding: 10px 0 10px;
}

.log-in a{
  color: #dc2c2c;
  padding: 3px 5px;
}

.logo-xs {
  margin: 8px 15px;
  height: 40px;
}

.navbar-inverse .navbar-toggle {
  border-color: #dc2c2c;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #dc2c2c;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-toggle:hover {
  background-color: #f8f8f9;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border: none;
}
//end navigation bar

.main-photo {
  max-width: 80%;
  margin: 0 auto;
}

footer {
  font-family: Lobster, cursive;
  color: #dc2c2c;
  background-color: #f8f8f9;
  font-size: 1em;
  width: 100%;
  padding: 10px 5px;
  height: 40px;
  position: fixed;
  bottom: 0;
  border-top: 1px dotted #bdbcbc;
}

.copyright {
  float: right;
  font-size: 1.2em;
}

h1 {
  font-family: Lobster, 'Poiret One';
  color: #676767;
  font-weight: 500;
  font-size: 2.2em;
  text-align: center;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  color: #dc2c2c;
  font-weight: 400;
  font-size: 1.2em;
}

p {
  padding: 0 10px;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #676767;
  text-align: center;
}

//search box
.search-field {
  border: 1px solid #e1e1e1;
  display: inline-block;
  padding: 3px 6px 1px 6px;
  border-radius: 4px;
  width: 150px;
  background-color: transparent;
}

.search-button {
  border: 1px solid #e1e1e1;
  display: inline-block;
  padding: 3px 6px 1px 6px;
  border-radius: 0 4px 4px 0;
  background-color: #fafafd;
  margin-left: -6px;
}

.search-button:hover {
  color: #a5a3a3;
}

.search-field:active,
.search-button:active,
.search-field:focus,
.search-button:focus {
  outline: none;
  background-color: #e1e1e1;
}
//end search box

//shrink navigation bar
nav.shrink .navbar-brand img {
  height: 40px;
  padding: 0;
}

nav.shrink .phone,
nav.shrink .bike {
  display: none;
}

nav.shrink .log-in a {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 3px 5px;
  color: #f8f8f9;
  background-color: #dc2c2c;
  border: 1px solid #dc2c2c;
  border-radius: 5px;
  font-size: 12px;
}

nav.shrink .log-in a:hover {
  text-decoration: none;
  padding: 3px 5px;
  color: #dc2c2c;
  background-color: #f8f8f9;
  border: 1px solid #dc2c2c;
  border-radius: 5px;
}

nav.shrink .log-in {
  padding-right: 10px;
}

nav.shrink .menu-right {
  width: 240px;
}

nav.shrink .navbar,
nav.shrink .menu {
  height: 40px;
}

nav.shrink a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

nav.shrink .main-menu ul {
  border: none;
}

nav.shrink .bottom {
  padding-top: 8px;
}

//end shrink navigation bar

//contact form
@media (min-width: 768px) {
  .envelope {
    margin: 0 auto;
    padding: 70px 60px 250px;
    max-width: 600px;
    max-height: 586px;
    background-image: url('/assets/envelope.png');
  }

  .form-group {
    padding-top: 5px;
    margin-bottom: 0;
    font-family: 'Reenie Beanie', sans-serif;
    font-size: 22px;
  }

  .envelope .form-control {
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 0 12px;
  }

  .envelope .form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
  }

  .panel {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  #message-box {
    width: 450px;
    height: 120px;
  }

  .message-group {
    padding-top: 5px;
  }

  #envelope-button {
    margin-left: 200px;
    font-size: 2em;
    border: 1px solid #dc2c2c;
    border-radius: 5px;
    background-color: #dc2c2c;
    color: #f8f8f9;
    padding: 5px 20px;
    font-family: 'Reenie Beanie', sans-serif;
  }

  #envelope-button:hover {
    border: 1px solid #dc2c2c;
    background-color: #f8f8f9;
    color: #dc2c2c;
  }

  .field {
    margin: 0 auto;
    padding: 0 10px 10px;
  }

  .contact-header {
    padding-bottom: 0;
  }

  .contact-email,
  .contact-message,
  .contact-name {
    font-size: 22px;
  }

  .contact-name,
  .contact-email {
    text-align: center;
  }
}
//end contact form

.required:after{
  content:"*";
  color: #dc2c2c;
}

//edit form
textarea {
  resize: none;
  overflow: hidden;
}

.edit-wrapper {
margin: 0 auto;
max-width: 620px;
}

.edit-form {
border: 1px solid #e1e1e1;
border-radius: 4px;
padding: 3px 6px 1px;
}

.edit-price {
max-width: 50px;
}

.edit-color {
max-width: 100px;
}

textarea.form-control {
  height: 150px;
  margin-bottom: 30px;
}

.edit-name,
.edit-description,
.edit-link {
max-width: 600px;
}

.form-control {
  display: inline-block;
  background-color: transparent;
  box-shadow: none;
}

.form-control:focus {
  border: 1px solid #b3b2b2;
  outline: none;
  box-shadow: none;
}

.submit-button {
background-color: #dc2c2c;
padding: 5px 10px;
border: 1px solid #dc2c2c;
border-radius: 5px;
color: #f8f8f9;
}

.contact-name,
.contact-email,
.contact-message{
  display: inline-block;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    width: 300px;
  }
}

.submit-button:hover {
background-color: #f8f8f9;
border: 1px solid #dc2c2c;
border-radius: 5px;
color: #dc2c2c;
}

.label {
text-align: center;
}
//end edit form

.row {
  margin: 0;
}

.paper-size {
  max-width: 470px;
}

.login-container div {
  text-align: center;
}

.login-container label {
  display: inline-block;
}

.login-field {
  border: 1px solid #c3c2c2;
  border-radius: 4px;
  padding: 3px 6px 1px;
  background-color: transparent;
}

.login-field:focus {
  outline: none;
  border: 1px solid #9a9898;
}

.login-container .field {
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f8f9 inset;
}

.shared-links {
  padding-top: 40px;
}

.image-box div{
  display: block;
  float: right;
  margin-top: -80px;
}

.image-box img {
  max-height: 90vh;
  max-width: 450px;
  padding-top: 60px;
}

.image-copyright {
  display: block;
}

.image-box {
  padding-right: 22px;
}

.image {
  position: relative;
}
.image-copyright {
  position: absolute;
  bottom: 0;
  right: 5px;
}

.image-copyright a {
  color: #333;
}

@media only screen and (max-width: 767px) {
  .image-box {
    display: none;
  }
  #alert,
  #notice {
    padding-top: 30px;
  }
}


#notice {
  color: #676767;
}

#alert,
#notice {
  text-align: center;
}

.close-account {
  text-align: left;
}

@media only screen and (min-width: 1200px) {
  .banner {
    position: fixed;
    bottom: 38px;
    right: 45px;
    width: 555px;
  }
}

.show-container {
  padding-top: 30px;
}

//Palette:
//coral - #dc2c2c
//font - f8ecbd
//grey - #C1C7CC

//Fonts:
//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Bahiana', cursive;
//font-family: 'Yanone Kaffeesatz', sans-serif;