<div class="image">
  <%= image_tag("ride.png", class: "img-responsive image-ride")%>
  <div class="image-copyright">
    <a href="http://www.freepik.com/free-vector/cute-quote-with-a-bicycle_943071.htm">Designed by Freepik</a>
  </div>
</div>