<div class="product-reviews">
  <h1>All the comments:</h1>
  <div class="comments">
    <% @comments.each do |comment| %>
        <%= render partial: 'comments/comment' , locals:  {comment: comment} %>
    <% end %>
    <%= will_paginate @comments %>
  </div>
</div>
