<p id="notice"><%= notice %></p>

<div class="header"><h1>Choose the right one</h1></div>

<div class="container-fluid">
  <div class="row">
    <%= render @products %>
  </div>
</div>
<br>
<div class="button-back"><%= link_to 'Back', :back%></div>
<div class="button-new"><%= link_to 'New Product', new_product_path %></div>
