<p id="notice"><%= notice %></p>

<div class="header"><h1>Choose the right one</h1></div>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product|%>
      <%= render @products %>
    <% end %>
  </div>
</div>
<br>

<div class="button"><%= link_to 'New Product', new_product_path %></div>
